<h2>Draft Page</h2>

<ng-container *ngIf="!viewRoster">
  <div class="container">
    <h3>Teams and players</h3>
    <ul>
      <li *ngFor="let team of teams">
        team: {{team.name}}<br>
        player name: {{team.player.name}}<br>
        player college: {{team.player.college}}<br>
        player height: {{team.player.height}}<br>
        player weight: {{team.player.weight}}<br>
      </li>
    </ul>
  </div>
</ng-container>

<ng-container *ngIf="viewRoster">
  view roster
  <a routerLink="/roster">
    roster
  </a>
</ng-container>