<h2>Draft Page</h2>

<div style="width: 50%; float: left;">
  <h3>Players</h3>
  <ul class="items-list players">
    <li *ngFor="let player of players">
      <a routerLink="/detail/{{player.id}}">
        <span class="badge">{{player.id}}</span> {{player.name}}
      </a>
    </li>
  </ul>
</div>

<div style="width: 50%; float: left;">
  <h3>Teams</h3>
  <ul class="items-list teams">
    <li *ngFor="let player of players">
      <a routerLink="/detail/{{player.id}}">
        <span class="badge">{{player.id}}</span> {{player.name}}
      </a>
    </li>
  </ul>
</div>
